:root {
  --primary-red: hsla(7, 99%, 70%);
  --primary-red-transparent: hsla(7, 99%, 70%, 0.2);
  --primary-yellow: hsla(51, 100%, 49%);
  --primary-yellow-transparent: hsla(51, 100%, 49%, 0.2);
  --primary-cyan-graphic-design: hsla(167, 40%, 24%);
  --primary-blue-photography: hsla(198, 62%, 26%);
  --primary-cyan-footer: hsla(168, 34%, 41%);

  --neutral-v-DarkDeSatBlue: hsla(212, 27%, 19%);
  --neutral-v-DarkDeSatBlue-transparent: hsla(212, 27%, 19%, 0.8);

  --neutral-v-DarkGrayishBlue: hsla(213, 9%, 39%);
  --neutral-v-DarkGrayishBlue-transparent: hsla(213, 9%, 39%, 0.8);

  --neutral-DarkGrayishBlue: hsla(232, 10%, 55%);
  --neutral-DarkGrayishBlue-transparent: hsla(232, 10%, 55%, 0.2);
  --neutral-GrayishBlue: hsla(210, 4%, 67%);
  --neutral-White: hsla(0, 0%, 100%);
}
