// typography
@mixin header-font($weight) {
  font-family: "Fraunces", sans-serif;
  font-weight: $weight;
}

//media queries

@mixin breakpoint($point) {
  @if $point==md-up {
    @media screen and (min-width: 50em) {
      @content;
    }
  } @else if $point==sm-up {
    @media screen and (min-width: 30em) {
      @content;
    }
  }
}

//flex

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//first section written container

@mixin format-first-section-item($color, $hoverColor) {
  max-width: 80%;
  text-align: center;
  margin-inline: auto;
  margin-block: 3rem;
  @include flex-center(column);
  gap: 2rem;

  & > *:first-child {
    font-size: clamp(2rem, 1.8rem + 1vw, 2.2rem);
    @include header-font(900);
    color: var(--neutral-v-DarkDeSatBlue);
  }

  & > *:nth-child(2) {
    color: var(--neutral-DarkGrayishBlue);
  }

  & > *:last-child {
    @include header-font(900);
    margin-left: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      inset: auto auto 0 0;
      z-index: -1;
      width: 120%;
      margin-left: -10%;
      height: 0.5rem;
      background-color: $color;
      border-radius: 5rem;
    }

    &:hover::after {
      background-color: $hoverColor;
    }
  }

  @include breakpoint(md-up) {
    max-width: 60%;
    text-align: left;
    align-items: start;
  }
}
