@use "../abstract/mixins" as m;

.footer {
  &__wrapper {
    background-color: hsla(168, 64%, 41%, 0.5);
    min-height: 50vh;
    @include m.flex-center(column);
    gap: 2rem;
    flex: 1;
  }
  &__logo {
    color: hsla(212, 27%, 19%, 0.6);
    width: 190px;
    height: auto;
  }
  &__menu__wrapper {
    width: 100%;
    max-width: 25rem;
  }
  &__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    &__item > a {
      text-decoration: none;
      color: hsla(212, 27%, 19%, 0.4);
      font-size: 1.1em;
      &:hover {
        color: var(--neutral-White);
      }
    }
  }

  &__social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    svg {
      cursor: pointer;
      color: hsla(212, 27%, 19%, 0.6);

      &:hover {
        color: var(--neutral-White);
      }
    }
  }
}
